<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>提交电子发票</title>
</head>
<body>
 <form  action="send" method="post">
     <table>
         <tr>
             <td>发票请求流水号</td><td><input name="fpqqlsh" th:value="${fpqqlsh}"/></td><td>请求时间</td><td><input name="submitdate"  th:value="${#dates.format(submitdate, 'yyyy-MM-dd HH:mm:ss')}"/></td>
         </tr>
        <tr>
            <td>商户编码</td><td><input name="merchant_code" value="SHBM20161025"/></td> <td>商户名称</td><td><input name="merchant_name" value="测试商户"/> </td>
        </tr>
         <tr>
             <td>开票类型</td><td><select name="kplx"><option value="0">蓝票</option><option value="1">红票</option></select></td> <td>订单号</td><td><input name="order_no" value="D201611022241"/></td>
         </tr>
         <tr>
             <td>销售方纳税识别号</td><td><input name="xsf_nsrsbh" value="44130207952245X"/></td> <td>销售方名称</td><td><input name="xsf_mc" value="惠州江财科技有限公司"/></td>
         </tr>
         <tr>
             <td>销售方地址电话</td><td><input name="xsf_dzdh" value="江北 5758200"/></td> <td>销售方银行帐号</td><td><input name="xsf_yhzh" value="6621334934823463"/></td>
         </tr>
         <tr>
             <td>购买方姓名</td><td><input name="gmf_mc" value="购买人"/></td> <td>开票人</td><td><input name="kpr" value="陈立杆"/></td>
         </tr>
         <tr>
             <td>收款人</td><td><input name="skr" value="陈立杆"/></td> <td>复核人</td><td><input name="fhr" value="陈立杆"/></td>
         </tr>
         <tr>
             <td>价税合计</td><td><input name="jshj" value="2.00"/></td> <td>合计金额</td><td><input name="hjje" value="1.77"/></td>
         </tr>
         <tr>
             <td>合计税额</td><td><input name="hjse" value="0.23"/></td> <td>备注</td><td><input name="bz" value="备注信息"/></td>
         </tr>
         <tr>
             <td>原发票代码</td><td><input name="yfp_dm" /></td> <td>原发票号码</td><td><input name="yfp_hm" /></td>
         </tr>
         <tr>
             <td>通讯key</td><td><input name="key" value="123"/></td>
         </tr>
     </table>

     <!--<table>-->
         <!--<thead>项目行信息</thead>-->
         <!--<tbody>-->
         <!--<tr>-->
             <!--<td>行号</td><td><input name="invoiceOrderBodyList[0]row_no"/></td><td>发票行性质</td><td><input name="invoiceOrderBodyList[0].fphxz"/></td>-->
         <!--</tr>-->
         <!--<tr>-->
             <!--<td>项目名称</td><td><input name="invoiceOrderBodyList[0].xmmc"/></td><td>单位</td><td><input name="invoiceOrderBodyList[0].dw"/></td>-->
         <!--</tr>-->
         <!--<tr>-->
             <!--<td>规格型号</td><td><input name="invoiceOrderBodyList[0].ggxh"/></td><td>项目数量</td><td><input name="invoiceOrderBodyList[0].xmsl"/></td>-->
         <!--</tr>-->
         <!--<tr>-->
             <!--<td>项目单价</td><td><input name="invoiceOrderBodyList[0].xmdj"/></td><td>项目金额</td><td><input name="invoiceOrderBodyList[0].xmje"/></td>-->
         <!--</tr>-->
         <!--<tr>-->
             <!--<td>税率</td><td><input name="invoiceOrderBodyList[0].sl"/></td><td>税额</td><td><input name="invoiceOrderBodyList[0].se"/></td>-->
         <!--</tr>-->
         <!--</tbody>-->
     <!--</table>-->
     <input type="submit"/>
 </form>

</body>
</html>