<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.EinvoiceBodyMapper">

    <!-- 通用查询结果列-->

    <select id="selectListByHeadId" resultType="EinvoiceBody">
        select * from einvoice_body where dr = 0 and pk_einvoicehead = #{pk_einvoicehead}
        order by pk_einvoicehead  desc
    </select>

</mapper>